<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name ="aFRR-Service-DataBase"
			 connectionString=
				"Data Source = hildur.ucn.dk;
				Initial Catalog = dmai0920_1028757;
				Persist Security Info=True;
				User ID = dmai0920_1028757;
				Password = Password1!"/>
	</connectionStrings>
</configuration>