<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="github"
         name="GitHub Packages"
         value="https://nuget.pkg.github.com/diversiwaver/index.json"
         protocolVersion="2" />
  </packageSources>
  <packageSourceCredentials>
    <github>
      <add key="Username" value="diversiwaver" />
      <add key="ClearTextPassword" value="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" />
    </github>
  </packageSourceCredentials>
</configuration>